# Test Report
Any General Testcase consits of creation of random data and testing the process using that data.

Why are Following Featurs Tested ?
Because they are the most critical part of app. Any changes in them can cause huge damage.

## Testing Register
* What - A random user is generated, registered and logged in.
* How - Checking Consists of whether his directory is made or not.

## Write and Read Test
* What - Checks whether reading and writing in a file is properly working or not.
* How - File content is first Wrote and the read and then verified.

## Create Folder
* What - Checks Whether the command is creating folder or not.
* How - Function is executed and it is then checked whether the directory exists or not.

## list
* What - whether list provided is correct or not.
* How - Returned list is compared to specific present list.

